In [20]:
import pandas as pd
import numpy as np
import matplotlib as plt

pd.set_option('display.max_columns', None)

**UČITAVANJE I PRIPREMA SKUPOVA PODATAKA**

In [21]:
filenames=["Aaron_Bissaka",
           "Adam_Smith",
           "Alfie_Doughty",
           "Amarii_Bell",
           "Andrew_Robertson",
           "Anel_Ahmedhodzic",
           "Antonee_Robinson",
           "Ashley_Young",
           "Auston_Trusty",
           "Axel_Disasi",
           "Benjamin_White",
           "Calvin_Bassey",
           "Charlie_Taylor",
           "Chris_Richards",
           "Craig_Dawson",
           "Cristian_Romero",
           "Dan_Burn",
           "Dara_OShea",
           "Destiny_Udogie",
           "Diego_Carlos",
           "Diogo_Dalot",
           "Emerson_Palmieri",
           "Ethan_Pinnock",
           "Ezri_Konsa",
           "Fabian_Schar",
           "Gabriel_Magalhaes",
           "Gabriel_Osho",
           "Harry_Maguire",
           "Ibrahima_Konate",
           "Igor_Julio",
           "Illia_Zabarnyi",
           "Issa_Kabore",
           "Jack_Robinson",
           "James_Tarkowski",
           "Jan_Hecke",
           "Jarrad_Branthwaite",
           "Jayden_Bogle",
           "Joachim_Andersen",
           "Joe_Gomez",
           "Joel_Veltman",
           "Joel_Ward",
           "Josko_Gvardiol",
           "Kieran_Trippier",
           "Kristoffer_Ajer",
           "Kurt_Zouma",
           "Kyle_Walker",
           "Levi_Colwill",
           "Lewis_Dunk",
           "Lloyd_Kelly",
           "Lucas_Digne",
           "Mads_Roerslev",
           "Malo_Gusto",
           "Manuel_Akanji",
           "Marc_Cucurella",
           "Marc_Guehi",
           "Marcos_Senesi",
           "Matty_Cash",
           "Max_Kilman",
           "Micky_Ven",
           "Milos_Kerkez",
           "Nathan_Ake",
           "Nathan_Collins",
           "Nayef_Aguerd",
           "Neco_Williams",
           "Nelson_Semedo",
           "Oleksandr_Zinchenko",
           "Olu_Aina",
           "Pau_Torres",
           "Pedro_Porro",
           "Rayan_Nouri",
           "Reece_Burke",
           "Ruben_Dias",
           "Thiago_Silva",
           "Tim_Ream",
           "Tosin_Adarabioyo",
           "Toti_Gomes",
           "Trent_Arnold",
           "Tyrick_Mitchell",
           "Victor_Silva",
           "Virgil_Dijk",
           "Vitalii_Mykolenko",
           "Vladimir_Coufal",
           "William_Saliba"]

dfs={}

In [22]:
for dataframe in filenames:
    df=pd.read_csv(dataframe+".csv")
    
    dfs[dataframe.split('.')[0]]=df

In [23]:
df_Bissaka=dfs['Aaron_Bissaka']
df_Smith=dfs['Adam_Smith']
df_Doughty=dfs['Alfie_Doughty']
df_Bell=dfs['Amarii_Bell']
df_Robertson=dfs['Andrew_Robertson']
df_Ahmedhodzic=dfs['Anel_Ahmedhodzic']
df_ARobinson=dfs['Antonee_Robinson']
df_Young=dfs['Ashley_Young']
df_Trusty=dfs['Auston_Trusty']
df_Disasi=dfs['Axel_Disasi']
df_White=dfs['Benjamin_White']
df_Bassey=dfs['Calvin_Bassey']
df_Taylor=dfs['Charlie_Taylor']
df_Richards=dfs['Chris_Richards']
df_Dawson=dfs['Craig_Dawson']
df_Romero=dfs['Cristian_Romero']
df_Burn=dfs['Dan_Burn']
df_OShea=dfs['Dara_OShea']
df_Udogie=dfs['Destiny_Udogie']
df_Carlos=dfs['Diego_Carlos']
df_Dalot=dfs['Diogo_Dalot']
df_Palmieri=dfs['Emerson_Palmieri']
df_Pinnock=dfs['Ethan_Pinnock']
df_Konsa=dfs['Ezri_Konsa']
df_Schar=dfs['Fabian_Schar']
df_Magalhaes=dfs['Gabriel_Magalhaes']
df_Osho=dfs['Gabriel_Osho']
df_Maguire=dfs['Harry_Maguire']
df_Konate=dfs['Ibrahima_Konate']
df_Julio=dfs['Igor_Julio']
df_Zabarnyi=dfs['Illia_Zabarnyi']
df_Kabore=dfs['Issa_Kabore']
df_Robinson=dfs['Jack_Robinson']
df_Tarkowski=dfs['James_Tarkowski']
df_Hecke=dfs['Jan_Hecke']
df_Branthwaite=dfs['Jarrad_Branthwaite']
df_Bogle=dfs['Jayden_Bogle']
df_Andersen=dfs['Joachim_Andersen']
df_Gomez=dfs['Joe_Gomez']
df_Veltman=dfs['Joel_Veltman']
df_Ward=dfs['Joel_Ward']
df_Gvardiol=dfs['Josko_Gvardiol']
df_Trippier=dfs['Kieran_Trippier']
df_Ajer=dfs['Kristoffer_Ajer']
df_Zouma=dfs['Kurt_Zouma']
df_Walker=dfs["Kyle_Walker"]
df_Colwill=dfs['Levi_Colwill']
df_Dunk=dfs['Lewis_Dunk']
df_Kelly=dfs['Lloyd_Kelly']
df_Digne=dfs['Lucas_Digne']
df_Roerslev=dfs['Mads_Roerslev']
df_Gusto=dfs['Malo_Gusto']
df_Akanji=dfs['Manuel_Akanji']
df_Cucurella=dfs['Marc_Cucurella']
df_Guehi=dfs['Marc_Guehi']
df_Senesi=dfs['Marcos_Senesi']
df_Cash=dfs['Matty_Cash']
df_Kilman=dfs['Max_Kilman']
df_Ven=dfs['Micky_Ven']
df_Kerkez=dfs['Milos_Kerkez']
df_Ake=dfs['Nathan_Ake']
df_Collins=dfs['Nathan_Collins']
df_Aguerd=dfs['Nayef_Aguerd']
df_Williams=dfs['Neco_Williams']
df_Semedo=dfs['Nelson_Semedo']
df_Zinchenko=dfs['Oleksandr_Zinchenko']
df_Aina=dfs['Olu_Aina']
df_Torres=dfs['Pau_Torres']
df_Porro=dfs['Pedro_Porro']
df_Nouri=dfs['Rayan_Nouri']
df_Burke=dfs['Reece_Burke']
df_Dias=dfs['Ruben_Dias']
df_TSilva=dfs['Thiago_Silva']
df_Ream=dfs['Tim_Ream']
df_Adarabioyo=dfs['Tosin_Adarabioyo']
df_Gomes=dfs['Toti_Gomes']
df_Arnold=dfs['Trent_Arnold']
df_Mitchell=dfs['Tyrick_Mitchell']
df_Silva=dfs['Victor_Silva']
df_Dijk=dfs['Virgil_Dijk']
df_Mykolenko=dfs['Vitalii_Mykolenko']
df_Coufal=dfs['Vladimir_Coufal']
df_Saliba=dfs['William_Saliba']

In [24]:
dataframes=[df_Bissaka,
            df_Smith,
            df_Doughty,
            df_Bell,
            df_Robertson,
            df_Ahmedhodzic,
            df_ARobinson,
            df_Young,
            df_Trusty,
            df_Disasi,
            df_White,
            df_Bassey,
            df_Taylor,
            df_Richards,
            df_Dawson,
            df_Romero,
            df_Burn,
            df_OShea,
            df_Udogie,
            df_Carlos,
            df_Dalot,
            df_Palmieri,
            df_Pinnock,
            df_Konsa,
            df_Schar,
            df_Magalhaes,
            df_Osho,
            df_Maguire,
            df_Konate,
            df_Julio,
            df_Zabarnyi,
            df_Kabore,
            df_Robinson,
            df_Tarkowski,
            df_Hecke,
            df_Branthwaite,
            df_Bogle,
            df_Andersen,
            df_Gomez,
            df_Veltman,
            df_Ward,
            df_Gvardiol,
            df_Trippier,
            df_Ajer,
            df_Zouma,
            df_Walker,
            df_Colwill,
            df_Dunk,
            df_Kelly,
            df_Digne,
            df_Roerslev,
            df_Gusto,
            df_Akanji,
            df_Cucurella,
            df_Guehi,
            df_Senesi,
            df_Cash,
            df_Kilman,
            df_Ven,
            df_Kerkez,
            df_Ake,
            df_Collins,
            df_Aguerd,
            df_Williams,
            df_Semedo,
            df_Zinchenko,
            df_Aina,
            df_Torres,
            df_Porro,
            df_Nouri,
            df_Burke,
            df_Dias,
            df_TSilva,
            df_Ream,
            df_Adarabioyo,
            df_Gomes,
            df_Arnold,
            df_Mitchell,
            df_Silva,
            df_Dijk,
            df_Mykolenko,
            df_Coufal,
            df_Saliba]

In [25]:
df_Saliba.head()

,assists,bonus,bps,clean_sheets,creativity,element,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,starts,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,1,0,22,0,13.6,20,0.03,0.03,0.00,1.18,2,1,0,4.9,33.6,2023-08-12T12:00:00Z,90,16,0,0,0,0,1,0,1463572,1,1,2,2.0,5,0,0,0,50,True,0
1,0,2,29,1,1.2,20,0.01,0.01,0.00,1.06,12,0,0,2.9,27.6,2023-08-21T19:00:00Z,90,8,0,0,0,0,2,0,2061837,1,1,0,0.0,8,279299,320796,41497,51,False,0
2,0,0,14,0,14.5,20,0.03,0.07,0.04,0.53,21,2,0,3.9,17.6,2023-08-26T14:00:00Z,90,10,0,0,0,0,3,0,2652845,1,2,2,7.0,1,460200,511623,51423,52,True,0
3,0,0,17,0,2.3,20,0.01,0.01,0.00,0.96,31,1,0,2.3,20.2,2023-09-03T15:30:00Z,90,14,0,0,0,0,4,0,2705729,1,1,3,0.0,2,15799,170346,154547,52,True,0
4,0,0,27,1,1.2,20,0.01,0.01,0.00,0.30,43,0,0,2.7,25.6,2023-09-17T15:30:00Z,90,9,0,0,0,0,5,0,2854851,1,1,0,0.0,6,63946,162369,98423,52,False,0

In [26]:
def ubaci_ime_u_dataframe():
    for df,name in zip(dataframes,filenames):
        df["Firstname"]=name.split('_')[0]
        df["Lastname"]=name.split('_')[1]

In [27]:
def oblik():
    for df in dataframes:
        print(df.shape)

In [29]:
oblik()

(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)
(38, 36)

In [30]:
ubaci_ime_u_dataframe()

In [31]:
df_Saliba.head()

,assists,bonus,bps,clean_sheets,creativity,element,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,starts,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,Firstname,Lastname
0,1,0,22,0,13.6,20,0.03,0.03,0.00,1.18,2,1,0,4.9,33.6,2023-08-12T12:00:00Z,90,16,0,0,0,0,1,0,1463572,1,1,2,2.0,5,0,0,0,50,True,0,William,Saliba
1,0,2,29,1,1.2,20,0.01,0.01,0.00,1.06,12,0,0,2.9,27.6,2023-08-21T19:00:00Z,90,8,0,0,0,0,2,0,2061837,1,1,0,0.0,8,279299,320796,41497,51,False,0,William,Saliba
2,0,0,14,0,14.5,20,0.03,0.07,0.04,0.53,21,2,0,3.9,17.6,2023-08-26T14:00:00Z,90,10,0,0,0,0,3,0,2652845,1,2,2,7.0,1,460200,511623,51423,52,True,0,William,Saliba
3,0,0,17,0,2.3,20,0.01,0.01,0.00,0.96,31,1,0,2.3,20.2,2023-09-03T15:30:00Z,90,14,0,0,0,0,4,0,2705729,1,1,3,0.0,2,15799,170346,154547,52,True,0,William,Saliba
4,0,0,27,1,1.2,20,0.01,0.01,0.00,0.30,43,0,0,2.7,25.6,2023-09-17T15:30:00Z,90,9,0,0,0,0,5,0,2854851,1,1,0,0.0,6,63946,162369,98423,52,False,0,William,Saliba

In [32]:
oblik()

(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)

In [33]:
def izbaci_kolone(column_names):
    for dataframe in dataframes:
        dataframe.drop(columns=column_names,inplace=True)

In [34]:
column_names=['bps',
              'bonus',
              'selected',
              'starts',
              'creativity',
              'element',
              'ict_index',
              'influence',
              'kickoff_time',
              'round',
              'threat',
              'transfers_balance',
              'transfers_in',
              'transfers_out',
              'team_a_score',
              'team_h_score',
              'value',
              'fixture',
              'was_home',
              'expected_goal_involvements',
              'penalties_saved',
              'saves']

In [35]:
izbaci_kolone(column_names)

In [36]:
df_Saliba.head()

,assists,clean_sheets,expected_assists,expected_goals,expected_goals_conceded,goals_conceded,goals_scored,minutes,opponent_team,own_goals,penalties_missed,red_cards,total_points,yellow_cards,Firstname,Lastname
0,1,0,0.03,0.00,1.18,1,0,90,16,0,0,0,5,0,William,Saliba
1,0,1,0.01,0.00,1.06,0,0,90,8,0,0,0,8,0,William,Saliba
2,0,0,0.03,0.04,0.53,2,0,90,10,0,0,0,1,0,William,Saliba
3,0,0,0.01,0.00,0.96,1,0,90,14,0,0,0,2,0,William,Saliba
4,0,1,0.01,0.00,0.30,0,0,90,9,0,0,0,6,0,William,Saliba

In [37]:
oblik()

(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)

**DODATNO SREDJIVANJE I KREIRANJE NOVIH KOLONA**

**1.SPAJANJE SA TABELOM TIMOVA**

In [38]:
from IPython.display import HTML

In [39]:
def mapiranje_timova(df):
    df_teams=pd.read_csv("teams.csv")
    df_teams.head(20)
    
    team_names={
    1:"Arsenal",
    2:"Aston Vila",
    3:"Bournemouth",
    4:"Brentford",
    5:"Brighton",
    6:"Burnley",
    7:"Chelsea",
    8:"Crystal Palace",
    9:"Everton",
    10:"Fulham",
    11:"Liverpool",
    12:"Luton",
    13:"Man City",
    14:"Man Utd",
    15:"Newcastle",
    16:"Nott'm Forest",
    17:"Sheffield Utd",
    18:"Spurs",
    19:"West Ham",
    20:"Wolves",
    }
    
    df["Teams"]=df["opponent_team"].map(team_names)
    
    return(df.head(10))

In [40]:
for dataframe in dataframes:
    mapiranje_timova(dataframe)

In [41]:
df_Saliba.head()

,assists,clean_sheets,expected_assists,expected_goals,expected_goals_conceded,goals_conceded,goals_scored,minutes,opponent_team,own_goals,penalties_missed,red_cards,total_points,yellow_cards,Firstname,Lastname,Teams
0,1,0,0.03,0.00,1.18,1,0,90,16,0,0,0,5,0,William,Saliba,Nott'm Forest
1,0,1,0.01,0.00,1.06,0,0,90,8,0,0,0,8,0,William,Saliba,Crystal Palace
2,0,0,0.03,0.04,0.53,2,0,90,10,0,0,0,1,0,William,Saliba,Fulham
3,0,0,0.01,0.00,0.96,1,0,90,14,0,0,0,2,0,William,Saliba,Man Utd
4,0,1,0.01,0.00,0.30,0,0,90,9,0,0,0,6,0,William,Saliba,Everton

In [42]:
oblik()

(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)
(38, 17)

In [43]:
def ucitaj_tabelu():
    html="""
<iframe id="sofa-standings-embed-1-52186" src="https://widgets.sofascore.com/embed/tournament/1/season/52186/standings/Premier%20League?widgetTitle=Premier%20League&showCompetitionLogo=true" style=height:1112.5px!important;max-width:768px!important;width:100%!important; frameborder="0" scrolling="no"></iframe>
    <div style="font-size:12px;font-family:Arial,sans-serif;text-align:left">
      Standings provided by <a target="_blank" href="https://www.sofascore.com/">Sofascore</a>
    </div>
"""
    return(HTML(html))

In [44]:
ucitaj_tabelu()

In [45]:
def mapiranje_tezine_protivnika(df):
    fixture_rating={
    "Arsenal":5,
    "Aston Vila":5,
    "Bournemouth":3,
    "Brentford":2,
    "Brighton":3,
    "Burnley":2,
    "Chelsea":4,
    "Crystal Palace":4,
    "Everton":3,
    "Fulham":3,
    "Liverpool":5,
    "Luton":2,
    "Man City":5,
    "Man Utd":4,
    "Newcastle":4,
    "Nott'm Forest":2,
    "Sheffield Utd":2,
    "Spurs":5,
    "West Ham":4,
    "Wolves":3,
    } 
    
    df["Fixture_Rating"]=df["Teams"].map(fixture_rating)
    
    return(df.head(10))

In [46]:
for dataframe in dataframes:
    mapiranje_tezine_protivnika(dataframe)

In [47]:
df_Saliba.head()

,assists,clean_sheets,expected_assists,expected_goals,expected_goals_conceded,goals_conceded,goals_scored,minutes,opponent_team,own_goals,penalties_missed,red_cards,total_points,yellow_cards,Firstname,Lastname,Teams,Fixture_Rating
0,1,0,0.03,0.00,1.18,1,0,90,16,0,0,0,5,0,William,Saliba,Nott'm Forest,2
1,0,1,0.01,0.00,1.06,0,0,90,8,0,0,0,8,0,William,Saliba,Crystal Palace,4
2,0,0,0.03,0.04,0.53,2,0,90,10,0,0,0,1,0,William,Saliba,Fulham,3
3,0,0,0.01,0.00,0.96,1,0,90,14,0,0,0,2,0,William,Saliba,Man Utd,4
4,0,1,0.01,0.00,0.30,0,0,90,9,0,0,0,6,0,William,Saliba,Everton,3

In [48]:
oblik()

(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)
(38, 18)

In [49]:
new_column_names=["opponent_team","Teams"]

In [50]:
izbaci_kolone(new_column_names)

In [51]:
df_Saliba.head()

,assists,clean_sheets,expected_assists,expected_goals,expected_goals_conceded,goals_conceded,goals_scored,minutes,own_goals,penalties_missed,red_cards,total_points,yellow_cards,Firstname,Lastname,Fixture_Rating
0,1,0,0.03,0.00,1.18,1,0,90,0,0,0,5,0,William,Saliba,2
1,0,1,0.01,0.00,1.06,0,0,90,0,0,0,8,0,William,Saliba,4
2,0,0,0.03,0.04,0.53,2,0,90,0,0,0,1,0,William,Saliba,3
3,0,0,0.01,0.00,0.96,1,0,90,0,0,0,2,0,William,Saliba,4
4,0,1,0.01,0.00,0.30,0,0,90,0,0,0,6,0,William,Saliba,3

In [52]:
oblik()

(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)
(38, 16)

**2.DELTA KOLONE**

In [53]:
def izracunaj_delta_vrednosti(df):
    #GOLOVI
    
    delta_goals_scored=df.goals_scored-df.expected_goals
    
    #print(delta_goals_scored)
    
    df["Delta_Goals"]=delta_goals_scored
    
    #ASISTENCIJE
    
    delta_assists=df.assists-df.expected_assists
    
    #print(delta_assists)
    
    df["Delta_Assists"]=delta_assists
    
    #PRIMLJENI GOLOVI
    
    delta_goals_conceded=df.expected_goals_conceded-df.goals_conceded
    
    #print(delta_goals_conceded)
    
    df["Delta_Goals_Conceded"]=delta_goals_conceded
    
    return(df.head(10))

In [54]:
for dataframe in dataframes:
    izracunaj_delta_vrednosti(dataframe)

In [55]:
df_Saliba.head()

,assists,clean_sheets,expected_assists,expected_goals,expected_goals_conceded,goals_conceded,goals_scored,minutes,own_goals,penalties_missed,red_cards,total_points,yellow_cards,Firstname,Lastname,Fixture_Rating,Delta_Goals,Delta_Assists,Delta_Goals_Conceded
0,1,0,0.03,0.00,1.18,1,0,90,0,0,0,5,0,William,Saliba,2,0.00,0.97,0.18
1,0,1,0.01,0.00,1.06,0,0,90,0,0,0,8,0,William,Saliba,4,0.00,-0.01,1.06
2,0,0,0.03,0.04,0.53,2,0,90,0,0,0,1,0,William,Saliba,3,-0.04,-0.03,-1.47
3,0,0,0.01,0.00,0.96,1,0,90,0,0,0,2,0,William,Saliba,4,0.00,-0.01,-0.04
4,0,1,0.01,0.00,0.30,0,0,90,0,0,0,6,0,William,Saliba,3,0.00,-0.01,0.30

In [56]:
oblik()

(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)
(38, 19)

**3.PROMENA REDOSLEDA I IMENA KOLONA**

In [57]:
def promeni_ime_kolona(df,column_names):
    df.rename(columns=column_names,inplace=True)

In [58]:
column_rename={'assists':'Assists',
              'clean_sheets':'Clean_Sheet',
              'expected_assists':'xA',
              'expected_goals':'xG',
              'expected_goals_conceded':'xGC',
              'goals_conceded':'Goals_Conceded',
              'goals_scored':'Goals_Scored',
              'minutes':'Minutes',
              'own_goals':'Own_Goals',
              'penalties_missed':'Penalites_Missed',
              'red_cards':'Red_Cards',
              'total_points':'Points',
              'yellow_cards':'Yellow_Cards'
             }

In [59]:
for dataframe in dataframes:
    promeni_ime_kolona(dataframe,column_rename)

In [60]:
df_Saliba.head()

,Assists,Clean_Sheet,xA,xG,xGC,Goals_Conceded,Goals_Scored,Minutes,Own_Goals,Penalites_Missed,Red_Cards,Points,Yellow_Cards,Firstname,Lastname,Fixture_Rating,Delta_Goals,Delta_Assists,Delta_Goals_Conceded
0,1,0,0.03,0.00,1.18,1,0,90,0,0,0,5,0,William,Saliba,2,0.00,0.97,0.18
1,0,1,0.01,0.00,1.06,0,0,90,0,0,0,8,0,William,Saliba,4,0.00,-0.01,1.06
2,0,0,0.03,0.04,0.53,2,0,90,0,0,0,1,0,William,Saliba,3,-0.04,-0.03,-1.47
3,0,0,0.01,0.00,0.96,1,0,90,0,0,0,2,0,William,Saliba,4,0.00,-0.01,-0.04
4,0,1,0.01,0.00,0.30,0,0,90,0,0,0,6,0,William,Saliba,3,0.00,-0.01,0.30

In [61]:
def promeni_redosled_kolona(new_column_order):
    for df in dataframes:
        df=df[new_column_order]

In [62]:
column_order=['Firstname',
              'Lastname',
              'Fixture_Rating',
              'Minutes',
              'Goals_Scored',
              'xG',
              'Delta_Goals',
              'Assists',
              'xA',
              'Delta_Assists',
              'Goals_Conceded',
              'xGC',
              'Delta_Goals_Conceded',
              'Clean_Sheet',
              'Own_Goals',
              'Penalites_Missed',
              'Yellow_Cards',
              'Red_Cards',
              'Points']

In [63]:
promeni_redosled_kolona(column_order)

In [64]:
def napravi_ciljni_atribut():
    for df in dataframes:
        df['Next_Points'] = df['Points'].shift(-1) #вредност поена играца у наредном колу и она се предвиђа
        
        for column in df.select_dtypes(include='number').columns:     
                df[f'Running_{column}'] = df[column].rolling(window=4, min_periods=1).mean() #просек тренутног и претходна 3 кола

In [65]:
napravi_ciljni_atribut()

In [66]:
df_Saliba.head()

,Assists,Clean_Sheet,xA,xG,xGC,Goals_Conceded,Goals_Scored,Minutes,Own_Goals,Penalites_Missed,Red_Cards,Points,Yellow_Cards,Firstname,Lastname,Fixture_Rating,Delta_Goals,Delta_Assists,Delta_Goals_Conceded,Next_Points,Running_Assists,Running_Clean_Sheet,Running_xA,Running_xG,Running_xGC,Running_Goals_Conceded,Running_Goals_Scored,Running_Minutes,Running_Own_Goals,Running_Penalites_Missed,Running_Red_Cards,Running_Points,Running_Yellow_Cards,Running_Fixture_Rating,Running_Delta_Goals,Running_Delta_Assists,Running_Delta_Goals_Conceded,Running_Next_Points
0,1,0,0.03,0.00,1.18,1,0,90,0,0,0,5,0,William,Saliba,2,0.00,0.97,0.18,8.0,1.000000,0.000000,0.030000,0.000000,1.180000,1.00,0.0,90.0,0.0,0.0,0.0,5.000000,0.0,2.00,0.000000,0.970,0.180000,8.000000
1,0,1,0.01,0.00,1.06,0,0,90,0,0,0,8,0,William,Saliba,4,0.00,-0.01,1.06,1.0,0.500000,0.500000,0.020000,0.000000,1.120000,0.50,0.0,90.0,0.0,0.0,0.0,6.500000,0.0,3.00,0.000000,0.480,0.620000,4.500000
2,0,0,0.03,0.04,0.53,2,0,90,0,0,0,1,0,William,Saliba,3,-0.04,-0.03,-1.47,2.0,0.333333,0.333333,0.023333,0.013333,0.923333,1.00,0.0,90.0,0.0,0.0,0.0,4.666667,0.0,3.00,-0.013333,0.310,-0.076667,3.666667
3,0,0,0.01,0.00,0.96,1,0,90,0,0,0,2,0,William,Saliba,4,0.00,-0.01,-0.04,6.0,0.250000,0.250000,0.020000,0.010000,0.932500,1.00,0.0,90.0,0.0,0.0,0.0,4.000000,0.0,3.25,-0.010000,0.230,-0.067500,4.250000
4,0,1,0.01,0.00,0.30,0,0,90,0,0,0,6,0,William,Saliba,3,0.00,-0.01,0.30,1.0,0.000000,0.500000,0.015000,0.010000,0.712500,0.75,0.0,90.0,0.0,0.0,0.0,4.250000,0.0,3.50,-0.010000,-0.015,-0.037500,2.500000

In [67]:
dataframes[0]

,Assists,Clean_Sheet,xA,xG,xGC,Goals_Conceded,Goals_Scored,Minutes,Own_Goals,Penalites_Missed,Red_Cards,Points,Yellow_Cards,Firstname,Lastname,Fixture_Rating,Delta_Goals,Delta_Assists,Delta_Goals_Conceded,Next_Points,Running_Assists,Running_Clean_Sheet,Running_xA,Running_xG,Running_xGC,Running_Goals_Conceded,Running_Goals_Scored,Running_Minutes,Running_Own_Goals,Running_Penalites_Missed,Running_Red_Cards,Running_Points,Running_Yellow_Cards,Running_Fixture_Rating,Running_Delta_Goals,Running_Delta_Assists,Running_Delta_Goals_Conceded,Running_Next_Points
0,1,1,0.78,0.00,2.27,0,0,90,0,0,0,12,0,Aaron,Bissaka,3,0.00,0.22,2.27,1.0,1.000000,1.000000,0.780000,0.0000,2.270000,0.00,0.0,90.000000,0.0,0.0,0.0,12.000000,0.000000,3.000000,0.0000,0.220000,2.270000,1.000000
1,0,0,0.10,0.00,1.25,1,0,65,0,0,0,1,1,Aaron,Bissaka,5,0.00,-0.10,0.25,0.0,0.500000,0.500000,0.440000,0.0000,1.760000,0.50,0.0,77.500000,0.0,0.0,0.0,6.500000,0.500000,4.000000,0.0000,0.060000,1.260000,0.500000
2,0,0,0.04,0.00,1.24,2,0,90,0,0,0,0,1,Aaron,Bissaka,2,0.00,-0.04,-0.76,1.0,0.333333,0.333333,0.306667,0.0000,1.586667,1.00,0.0,81.666667,0.0,0.0,0.0,4.333333,0.666667,3.333333,0.0000,0.026667,0.586667,0.666667
3,0,0,0.01,0.00,2.27,3,0,90,0,0,0,1,0,Aaron,Bissaka,5,0.00,-0.01,-0.73,1.0,0.250000,0.250000,0.232500,0.0000,1.757500,1.50,0.0,83.750000,0.0,0.0,0.0,3.500000,0.500000,3.750000,0.0000,0.017500,0.257500,0.750000
4,0,0,0.00,0.00,0.74,0,0,5,0,0,0,1,0,Aaron,Bissaka,3,0.00,0.00,0.74,0.0,0.000000,0.000000,0.037500,0.0000,1.375000,1.50,0.0,62.500000,0.0,0.0,0.0,0.750000,0.500000,3.750000,0.0000,-0.037500,-0.125000,0.500000
5,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,2,0.00,0.00,0.00,0.0,0.000000,0.000000,0.012500,0.0000,1.062500,1.25,0.0,46.250000,0.0,0.0,0.0,0.500000,0.250000,3.000000,0.0000,-0.012500,-0.187500,0.500000
6,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,4,0.00,0.00,0.00,0.0,0.000000,0.000000,0.002500,0.0000,0.752500,0.75,0.0,23.750000,0.0,0.0,0.0,0.500000,0.000000,3.500000,0.0000,-0.002500,0.002500,0.250000
7,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,2,0.00,0.00,0.00,0.0,0.000000,0.000000,0.000000,0.0000,0.185000,0.00,0.0,1.250000,0.0,0.0,0.0,0.250000,0.000000,2.750000,0.0000,0.000000,0.185000,0.000000
8,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,2,0.00,0.00,0.00,0.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.00,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,2.500000,0.0000,0.000000,0.000000,0.000000
9,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,5,0.00,0.00,0.00,8.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.00,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,3.250000,0.0000,0.000000,0.000000,2.000000
10,0,1,0.01,0.00,1.01,0,0,90,0,0,0,8,0,Aaron,Bissaka,3,0.00,-0.01,1.01,0.0,0.000000,0.250000,0.002500,0.0000,0.252500,0.00,0.0,22.500000,0.0,0.0,0.0,2.000000,0.000000,3.000000,0.0000,-0.002500,0.252500,2.000000
11,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,2,0.00,0.00,0.00,1.0,0.000000,0.250000,0.002500,0.0000,0.252500,0.00,0.0,22.500000,0.0,0.0,0.0,2.000000,0.000000,3.000000,0.0000,-0.002500,0.252500,2.250000
12,0,0,0.01,0.00,1.14,0,0,14,0,0,0,1,0,Aaron,Bissaka,3,0.00,-0.01,1.14,2.0,0.000000,0.250000,0.005000,0.0000,0.537500,0.00,0.0,26.000000,0.0,0.0,0.0,2.250000,0.000000,3.250000,0.0000,-0.005000,0.537500,2.750000
13,0,0,0.00,0.03,2.65,1,0,79,0,0,0,2,0,Aaron,Bissaka,4,-0.03,0.00,1.65,0.0,0.000000,0.250000,0.005000,0.0075,1.200000,0.25,0.0,45.750000,0.0,0.0,0.0,2.750000,0.000000,3.000000,-0.0075,-0.005000,0.950000,0.750000
14,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,4,0.00,0.00,0.00,0.0,0.000000,0.000000,0.002500,0.0075,0.947500,0.25,0.0,23.250000,0.0,0.0,0.0,0.750000,0.000000,3.250000,-0.0075,-0.002500,0.697500,0.750000
15,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,3,0.00,0.00,0.00,0.0,0.000000,0.000000,0.002500,0.0075,0.947500,0.25,0.0,23.250000,0.0,0.0,0.0,0.750000,0.000000,3.500000,-0.0075,-0.002500,0.697500,0.500000
16,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,5,0.00,0.00,0.00,1.0,0.000000,0.000000,0.000000,0.0075,0.662500,0.25,0.0,19.750000,0.0,0.0,0.0,0.500000,0.000000,4.000000,-0.0075,0.000000,0.412500,0.250000
17,0,0,0.02,0.00,1.36,2,0,90,0,0,0,1,0,Aaron,Bissaka,4,0.00,-0.02,-0.64,1.0,0.000000,0.000000,0.005000,0.0000,0.340000,0.50,0.0,22.500000,0.0,0.0,0.0,0.250000,0.000000,4.000000,0.0000,-0.005000,-0.160000,0.500000
18,0,0,0.00,0.00,1.68,2,0,90,0,0,0,1,0,Aaron,Bissaka,5,0.00,0.00,-0.32,1.0,0.000000,0.000000,0.005000,0.0000,0.760000,1.00,0.0,45.000000,0.0,0.0,0.0,0.500000,0.000000,4.250000,0.0000,-0.005000,-0.240000,0.750000
19,0,0,0.05,0.04,0.74,2,0,89,0,0,0,1,0,Aaron,Bissaka,2,-0.04,-0.05,-1.26,0.0,0.000000,0.000000,0.017500,0.0100,0.945000,1.50,0.0,67.250000,0.0,0.0,0.0,0.750000,0.000000,4.000000,-0.0100,-0.017500,-0.555000,0.750000
20,0,0,0.01,0.00,1.36,2,0,90,0,0,0,0,1,Aaron,Bissaka,5,0.00,-0.01,-0.64,0.0,0.000000,0.000000,0.020000,0.0100,1.285000,2.00,0.0,89.750000,0.0,0.0,0.0,0.750000,0.250000,4.000000,-0.0100,-0.020000,-0.715000,0.500000
21,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,3,0.00,0.00,0.00,0.0,0.000000,0.000000,0.015000,0.0100,0.945000,1.50,0.0,67.250000,0.0,0.0,0.0,0.500000,0.250000,3.750000,-0.0100,-0.015000,-0.555000,0.250000
22,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,4,0.00,0.00,0.00,0.0,0.000000,0.000000,0.015000,0.0100,0.525000,1.00,0.0,44.750000,0.0,0.0,0.0,0.250000,0.250000,3.500000,-0.0100,-0.015000,-0.475000,0.000000
23,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,5,0.00,0.00,0.00,0.0,0.000000,0.000000,0.002500,0.0000,0.340000,0.50,0.0,22.500000,0.0,0.0,0.0,0.000000,0.250000,4.250000,0.0000,-0.002500,-0.160000,0.000000
24,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,2,0.00,0.00,0.00,0.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.00,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,3.500000,0.0000,0.000000,0.000000,0.000000
25,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,3,0.00,0.00,0.00,0.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.00,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,3.500000,0.0000,0.000000,0.000000,0.000000
26,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,5,0.00,0.00,0.00,0.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.00,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,3.750000,0.0000,0.000000,0.000000,0.000000
27,0,0,0.00,0.00,0.00,0,0,0,0,0,0,0,0,Aaron,Bissaka,3,0.00,0.00,0.00,1.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.00,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,3.250000,0.0000,0.000000,0.000000,0.250000
28,0,0,0.05,0.00,2.60,1,0,90,0,0,0,1,1,Aaron,Bissaka,2,0.00,-0.05,1.60,0.0,0.000000,0.000000,0.012500,0.0000,0.650000,0.25,0.0,22.500000,0.0,0.0,0.0,0.250000,0.250000,3.250000,0.0000,-0.012500,0.400000,0.250000
29,0,0,0.02,0.00,3.04,4,0,90,0,0,0,0,0,Aaron,Bissaka,4,0.00,-0.02,-0.96,4.0,0.000000,0.000000,0.017500,0.0000,1.410000,1.25,0.0,45.000000,0.0,0.0,0.0,0.250000,0.250000,3.500000,0.0000,-0.017500,0.160000,1.250000
30,1,0,0.02,0.00,3.59,2,0,90,0,0,0,4,0,Aaron,Bissaka,5,0.00,0.98,1.59,1.0,0.250000,0.000000,0.022500,0.0000,2.307500,1.75,0.0,67.500000,0.0,0.0,0.0,1.250000,0.250000,3.500000,0.0000,0.227500,0.557500,1.500000
31,0,0,0.05,0.00,1.75,2,0,90,0,0,0,1,0,Aaron,Bissaka,3,0.00,-0.05,-0.25,1.0,0.250000,0.000000,0.035000,0.0000,2.745000,2.25,0.0,90.000000,0.0,0.0,0.0,1.500000,0.250000,3.500000,0.0000,0.215000,0.495000,1.500000
32,0,0,0.03,0.00,0.77,2,0,90,0,0,0,1,0,Aaron,Bissaka,2,0.00,-0.03,-1.23,2.0,0.250000,0.000000,0.030000,0.0000,2.287500,2.50,0.0,90.000000,0.0,0.0,0.0,1.500000,0.000000,3.500000,0.0000,0.220000,-0.212500,2.000000
33,0,0,0.02,0.00,2.06,1,0,90,0,0,0,2,0,Aaron,Bissaka,2,0.00,-0.02,1.06,0.0,0.250000,0.000000,0.030000,0.0000,2.042500,1.75,0.0,90.000000,0.0,0.0,0.0,2.000000,0.000000,3.000000,0.0000,0.220000,0.292500,1.000000
34,0,0,0.05,0.00,1.47,4,0,90,0,0,0,0,0,Aaron,Bissaka,4,0.00,-0.05,-2.53,2.0,0.000000,0.000000,0.037500,0.0000,1.512500,2.25,0.0,90.000000,0.0,0.0,0.0,1.000000,0.000000,2.750000,0.0000,-0.037500,-0.737500,1.250000
35,0,0,0.03,0.00,1.71,1,0,86,0,0,0,2,0,Aaron,Bissaka,5,0.00,-0.03,0.71,1.0,0.000000,0.000000,0.032500,0.0000,1.502500,2.00,0.0,89.000000,0.0,0.0,0.0,1.250000,0.000000,3.250000,0.0000,-0.032500,-0.497500,1.250000
36,0,0,0.16,0.04,2.32,2,0,90,0,0,0,1,0,Aaron,Bissaka,4,-0.04,-0.16,0.32,6.0,0.000000,0.000000,0.065000,0.0100,1.890000,2.00,0.0,89.000000,0.0,0.0,0.0,1.250000,0.000000,3.750000,-0.0100,-0.065000,-0.110000,2.250000
37,0,1,0.01,0.00,1.55,0,0,90,0,0,0,6,0,Aaron,Bissaka,3,0.00,-0.01,1.55,NaN,0.000000,0.250000,0.062500,0.0100,1.762500,1.75,0.0,89.000000,0.0,0.0,0.0,2.250000,0.000000,4.000000,-0.0100,-0.062500,0.012500,3.000000

In [68]:
oblik()

(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)
(38, 38)

In [69]:
df_def=pd.concat(dataframes)

In [70]:
df_def

,Assists,Clean_Sheet,xA,xG,xGC,Goals_Conceded,Goals_Scored,Minutes,Own_Goals,Penalites_Missed,Red_Cards,Points,Yellow_Cards,Firstname,Lastname,Fixture_Rating,Delta_Goals,Delta_Assists,Delta_Goals_Conceded,Next_Points,Running_Assists,Running_Clean_Sheet,Running_xA,Running_xG,Running_xGC,Running_Goals_Conceded,Running_Goals_Scored,Running_Minutes,Running_Own_Goals,Running_Penalites_Missed,Running_Red_Cards,Running_Points,Running_Yellow_Cards,Running_Fixture_Rating,Running_Delta_Goals,Running_Delta_Assists,Running_Delta_Goals_Conceded,Running_Next_Points
0,1,1,0.78,0.00,2.27,0,0,90,0,0,0,12,0,Aaron,Bissaka,3,0.00,0.22,2.27,1.0,1.000000,1.000000,0.780000,0.0000,2.270000,0.00,0.0,90.000000,0.0,0.0,0.0,12.000000,0.000000,3.000000,0.0000,0.220000,2.270000,1.000000
1,0,0,0.10,0.00,1.25,1,0,65,0,0,0,1,1,Aaron,Bissaka,5,0.00,-0.10,0.25,0.0,0.500000,0.500000,0.440000,0.0000,1.760000,0.50,0.0,77.500000,0.0,0.0,0.0,6.500000,0.500000,4.000000,0.0000,0.060000,1.260000,0.500000
2,0,0,0.04,0.00,1.24,2,0,90,0,0,0,0,1,Aaron,Bissaka,2,0.00,-0.04,-0.76,1.0,0.333333,0.333333,0.306667,0.0000,1.586667,1.00,0.0,81.666667,0.0,0.0,0.0,4.333333,0.666667,3.333333,0.0000,0.026667,0.586667,0.666667
3,0,0,0.01,0.00,2.27,3,0,90,0,0,0,1,0,Aaron,Bissaka,5,0.00,-0.01,-0.73,1.0,0.250000,0.250000,0.232500,0.0000,1.757500,1.50,0.0,83.750000,0.0,0.0,0.0,3.500000,0.500000,3.750000,0.0000,0.017500,0.257500,0.750000
4,0,0,0.00,0.00,0.74,0,0,5,0,0,0,1,0,Aaron,Bissaka,3,0.00,0.00,0.74,0.0,0.000000,0.000000,0.037500,0.0000,1.375000,1.50,0.0,62.500000,0.0,0.0,0.0,0.750000,0.500000,3.750000,0.0000,-0.037500,-0.125000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,0,1,0.00,0.00,1.61,0,0,90,0,0,0,6,0,William,Saliba,4,0.00,0.00,1.61,1.0,0.000000,0.750000,0.007500,0.0000,0.852500,0.50,0.0,90.000000,0.0,0.0,0.0,5.000000,0.250000,3.750000,0.0000,-0.007500,0.352500,4.000000
34,0,0,0.00,0.00,2.37,2,0,90,0,0,0,1,0,William,Saliba,5,0.00,0.00,0.37,6.0,0.000000,0.500000,0.005000,0.0000,1.312500,1.00,0.0,90.000000,0.0,0.0,0.0,4.000000,0.000000,4.250000,0.0000,-0.005000,0.312500,5.250000
35,0,1,0.01,0.11,0.37,0,0,90,0,0,0,6,0,William,Saliba,3,-0.11,-0.01,0.37,9.0,0.000000,0.750000,0.005000,0.0275,1.122500,0.50,0.0,90.000000,0.0,0.0,0.0,5.250000,0.000000,3.750000,-0.0275,-0.005000,0.622500,5.500000
36,0,1,0.00,0.05,0.64,0,0,90,0,0,0,9,0,William,Saliba,4,-0.05,0.00,0.64,2.0,0.000000,0.750000,0.002500,0.0400,1.247500,0.50,0.0,90.000000,0.0,0.0,0.0,5.500000,0.000000,4.000000,-0.0400,-0.002500,0.747500,4.500000
37,0,0,0.08,0.00,0.50,1,0,90,0,0,0,2,0,William,Saliba,3,0.00,-0.08,-0.50,NaN,0.000000,0.500000,0.022500,0.0400,0.970000,0.75,0.0,90.000000,0.0,0.0,0.0,4.500000,0.000000,3.750000,-0.0400,-0.022500,0.220000,5.666667

In [71]:
df_def.shape

(3154, 38)

In [72]:
df_def.to_csv("odbrana.csv")