In [52]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [53]:
df=pd.read_csv("cleaned_players.csv")

df.head()

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
0,Folarin,Balogun,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.2,44,FWD
1,Cédric,Alves Soares,0,0,3,59,0,4.3,2.0,0.0,0,15,0.6,0,0,0,0.5,38,DEF
2,Mohamed,Elneny,0,1,6,25,0,2.1,4.0,10.0,0,16,1.6,0,0,0,0.1,44,MID
3,Fábio,Ferreira Vieira,1,3,24,290,2,88.8,82.8,85.0,0,67,25.5,1,1,0,0.1,54,MID
4,Gabriel,dos Santos Magalhães,3,1,149,3042,26,121.9,675.8,379.0,8,676,117.9,16,0,4,28.3,54,DEF

In [54]:
df.describe() #Pregled statistickih parametara dataframe-a(treba izbaciti odredjene kolone i to creativity,threat,influence,bonus???,bps???,ICT index,selected by percent???,now_cost???)

,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost
count,865.000000,865.000000,865.000000,865.000000,865.000000,865.000000,865.00000,865.000000,865.000000,865.000000,865.000000,865.0000,865.000000,865.000000,865.000000,865.000000
mean,1.382659,1.238150,36.151445,865.468208,15.845087,140.219884,206.17526,131.194220,2.811561,160.782659,47.738728,2.2000,0.067052,1.842775,1.730983,47.556069
std,3.118482,2.482564,47.013310,1037.950242,19.444640,241.750402,270.91735,238.443378,5.153914,203.901339,67.234046,3.3844,0.263767,2.615972,5.596160,9.940420
min,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-3.000000,0.000000,0.0000,0.000000,0.000000,0.000000,36.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,43.000000
50%,0.000000,0.000000,13.000000,343.000000,7.000000,20.500000,67.20000,16.000000,0.000000,60.000000,14.800000,0.0000,0.000000,1.000000,0.100000,45.000000
75%,1.000000,1.000000,63.000000,1589.000000,28.000000,179.500000,355.00000,152.000000,4.000000,290.000000,77.300000,4.0000,0.000000,3.000000,0.700000,49.000000
max,27.000000,18.000000,244.000000,3420.000000,89.000000,1674.900000,1240.20000,1581.000000,32.000000,866.000000,375.700000,19.0000,2.000000,13.000000,73.600000,143.000000

In [55]:
df.loc[df["minutes"]>1500] #Ima ukupno 230 igraca koji su odigrali preko 1500 minuta u sezoni (moze mozda vizualizacija koliko po timovima)

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
4,Gabriel,dos Santos Magalhães,3,1,149,3042,26,121.9,675.8,379.0,8,676,117.9,16,0,4,28.3,54,DEF
5,Kai,Havertz,13,10,180,2627,22,613.4,763.2,1027.0,15,515,240.2,16,0,11,11.9,76,MID
10,Gabriel,Martinelli Silva,6,5,118,2010,23,717.1,500.4,795.0,6,404,200.8,10,0,1,4.2,75,MID
12,Martin,Ødegaard,8,11,186,3098,23,1499.4,910.4,757.0,26,703,317.0,19,0,2,18.0,86,MID
17,Bukayo,Saka,16,12,226,2922,27,1319.8,1093.8,1342.0,29,776,375.7,16,0,4,49.2,88,MID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,José,Malheiro de Sá,0,1,107,3037,58,11.0,1003.4,0.0,8,622,101.6,4,0,1,2.0,50,GK
842,Pablo,Sarabia,4,7,99,1737,27,795.3,469.2,418.0,8,358,168.4,6,0,5,0.5,45,MID
844,Nélson,Cabral Semedo,0,2,63,3084,62,395.7,508.8,165.0,0,455,107.2,5,1,10,0.6,45,DEF
845,Toti António,Gomes,1,4,82,2771,49,117.7,550.0,167.0,6,468,83.7,4,0,7,0.3,44,DEF
847,Matheus,Santos Carneiro Da Cunha,12,7,135,2438,46,409.8,786.0,872.0,15,520,206.4,6,0,9,2.4,55,FWD

**GOLMANI**

In [56]:
df.loc[(df["minutes"]>1500) & (df["element_type"]=="GK")].shape

(22, 19)

U nastavku je dat prikaz svih golmana koji zadovoljavaju pocetne uslove,a za golmana koji ce biti prvi biti koriscen za predvidjanje je **Dzordan Pikford**

In [57]:
df_golmani=df.loc[(df["minutes"]>1500) & (df["element_type"]=="GK")]

In [61]:
df_golmani

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
26,David,Raya Martin,0,0,135,2880,24,0.0,413.0,0.0,6,569,41.1,16,0,2,11.7,53,GK
54,Emiliano,Martínez Romero,0,0,115,3015,48,20.0,802.0,0.0,19,640,82.2,8,0,4,10.5,52,GK
97,Norberto,Murara Neto,0,0,110,2880,55,0.0,875.2,0.0,14,592,87.5,7,0,5,4.2,46,GK
134,Mark,Flekken,0,1,119,3285,63,40.3,921.2,0.0,12,685,96.2,7,0,3,4.5,47,GK
191,Jason,Steele,0,0,42,1530,34,0.1,382.2,0.0,5,300,38.2,2,0,0,1.7,40,GK
195,Bart,Verbruggen,0,0,68,1890,28,1.0,541.4,0.0,7,417,54.3,4,0,3,1.2,44,GK
246,James,Trafford,0,0,70,2520,62,3.3,903.6,0.0,5,533,90.7,2,0,2,0.9,44,GK
301,Đorđe,Petrović,0,0,71,1986,38,0.0,567.8,0.0,5,414,56.8,5,0,2,8.4,47,GK
329,Sam,Johnstone,0,0,68,1796,27,0.0,321.4,0.0,7,310,32.2,6,0,1,1.3,43,GK
343,Dean,Henderson,0,0,48,1620,30,0.0,434.8,0.0,2,293,43.7,4,0,2,1.7,44,GK
372,Jordan,Pickford,0,0,153,3420,51,43.4,969.2,0.0,22,734,101.3,13,0,5,16.3,48,GK
400,Bernd,Leno,0,0,133,3420,61,0.1,1069.8,0.0,15,782,106.7,10,0,3,14.6,48,GK
430,Alisson,Ramses Becker,0,0,107,2520,30,10.4,671.2,0.0,9,575,68.1,8,0,1,9.7,57,GK
505,Thomas,Kaminski,0,0,86,3405,85,10.0,1116.6,0.0,3,642,112.2,2,0,3,0.7,45,GK
529,Ederson,Santana de Moraes,0,0,112,2785,27,10.0,551.8,0.0,5,569,56.0,11,0,5,13.1,55,GK
580,André,Onana,0,0,133,3420,58,33.2,1167.8,0.0,10,741,120.2,9,0,5,15.5,50,GK
605,Martin,Dubravka,0,0,75,1984,42,10.0,661.0,0.0,3,426,67.2,4,0,1,8.7,43,GK
642,Matt,Turner,0,0,41,1530,28,0.0,379.6,0.0,0,278,37.9,2,0,2,8.6,37,GK
711,Wes,Foderingham,0,0,70,2648,79,10.0,966.0,0.0,7,531,97.7,1,0,2,0.3,44,GK
771,Guglielmo,Vicario,0,0,112,3420,61,0.0,974.2,0.0,9,730,97.4,7,0,2,9.4,53,GK
788,Alphonse,Areola,0,0,116,2700,53,0.0,1023.2,0.0,11,598,102.4,4,0,1,22.3,42,GK
841,José,Malheiro de Sá,0,1,107,3037,58,11.0,1003.4,0.0,8,622,101.6,4,0,1,2.0,50,GK

In [63]:
df_golmani.describe()

,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost
count,22.0,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.0,22.000000,22.000000,22.000000,22.000000,22.0,22.000000,22.000000,22.000000
mean,0.0,0.090909,95.045455,2622.318182,47.363636,9.218182,759.836364,0.0,8.363636,544.590909,76.890909,6.181818,0.0,2.500000,7.604545,46.909091
std,0.0,0.294245,32.410282,673.738072,17.729570,13.419092,272.852031,0.0,5.447109,156.395305,27.898420,3.899162,0.0,1.503963,6.240229,5.013402
min,0.0,0.000000,41.000000,1530.000000,24.000000,0.000000,321.400000,0.0,0.000000,278.000000,32.200000,1.000000,0.0,0.000000,0.300000,37.000000
25%,0.0,0.000000,70.000000,1984.500000,30.000000,0.000000,544.000000,0.0,5.000000,419.250000,54.725000,4.000000,0.0,1.250000,1.700000,44.000000
50%,0.0,0.000000,107.000000,2742.500000,49.500000,2.150000,838.600000,0.0,7.000000,572.000000,84.850000,5.500000,0.0,2.000000,8.500000,46.500000
75%,0.0,0.000000,115.750000,3223.000000,60.250000,10.300000,972.950000,0.0,10.750000,641.500000,100.400000,8.000000,0.0,3.000000,11.400000,50.000000
max,0.0,1.000000,153.000000,3420.000000,85.000000,43.400000,1167.800000,0.0,22.000000,782.000000,120.200000,16.000000,0.0,5.000000,22.300000,57.000000

**ODBRANA**

In [45]:
df.loc[(df["minutes"]>1500) & (df["element_type"]=="DEF")].shape

(87, 19)

U nastavku je dat prikaz svih odbrambenih igraca koji zadovoljavaju pocetne uslove,a za igraca koji ce biti prvi biti koriscen za predvidjanje odabran je **Vilijam Saliba**

In [64]:
df_odbrana=df.loc[(df["minutes"]>1500) & (df["element_type"]=="DEF")]

In [66]:
df_odbrana

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
4,Gabriel,dos Santos Magalhães,3,1,149,3042,26,121.9,675.8,379.0,8,676,117.9,16,0,4,28.3,54,DEF
18,William,Saliba,2,1,164,3420,29,152.1,697.2,140.0,13,781,99.1,18,0,4,39.1,59,DEF
23,Benjamin,White,4,5,182,2987,26,589.4,765.8,234.0,14,776,159.0,18,0,8,23.3,61,DEF
25,Oleksandr,Zinchenko,1,2,104,1717,15,474.8,395.4,133.0,16,468,100.4,9,0,2,5.1,50,DEF
41,Matty,Cash,2,2,64,2138,36,231.8,465.2,378.0,4,337,107.1,3,0,8,9.9,45,DEF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,Rayan,Aït-Nouri,2,3,77,2327,43,376.9,448.4,253.0,6,365,107.7,3,0,7,3.9,46,DEF
826,Craig,Dawson,1,1,69,2209,38,108.6,611.8,222.0,6,421,94.4,6,0,7,0.4,45,DEF
836,Max,Kilman,2,0,82,3420,65,233.1,853.6,212.0,3,592,130.2,5,0,7,1.7,44,DEF
844,Nélson,Cabral Semedo,0,2,63,3084,62,395.7,508.8,165.0,0,455,107.2,5,1,10,0.6,45,DEF
845,Toti António,Gomes,1,4,82,2771,49,117.7,550.0,167.0,6,468,83.7,4,0,7,0.3,44,DEF

In [67]:
df_odbrana.describe()

,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost
count,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,1.379310,2.091954,79.471264,2395.402299,42.988506,263.898851,543.648276,176.678161,6.252874,450.183908,98.568966,5.781609,0.206897,4.712644,4.791954,46.954023
std,1.241168,2.218486,31.382427,565.946490,15.836001,231.605415,170.703968,94.113550,4.894749,135.240486,37.178274,3.574539,0.407429,2.688944,6.991227,7.001508
min,0.000000,0.000000,28.000000,1503.000000,15.000000,18.200000,279.000000,23.000000,0.000000,224.000000,40.400000,0.000000,0.000000,0.000000,0.100000,38.000000
25%,0.000000,0.000000,58.500000,1836.000000,32.000000,114.100000,396.700000,104.500000,2.500000,341.500000,71.850000,3.000000,0.000000,3.000000,0.500000,44.000000
50%,1.000000,1.000000,76.000000,2368.000000,40.000000,183.500000,517.400000,167.000000,5.000000,451.000000,95.000000,5.000000,0.000000,4.000000,2.000000,45.000000
75%,2.000000,3.000000,101.000000,2853.500000,52.000000,324.750000,665.700000,228.000000,9.500000,561.000000,117.800000,8.000000,0.000000,6.500000,5.250000,49.000000
max,5.000000,10.000000,182.000000,3420.000000,89.000000,1126.000000,915.400000,449.000000,20.000000,781.000000,213.300000,18.000000,1.000000,13.000000,39.100000,84.000000

**VEZNI RED**

In [46]:
df.loc[(df["minutes"]>1500) & (df["element_type"]=="MID")].shape

(96, 19)

U nastavku je dat prikaz svih veznih igraca koji zadovoljavaju pocetne uslove,a za igraca koji ce biti prvi biti koriscen za predvidjanje odabran je **Fil Foden**

In [68]:
df_vezni=df.loc[(df["minutes"]>1500) & (df["element_type"]=="MID")]

In [69]:
df_vezni

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
5,Kai,Havertz,13,10,180,2627,22,613.4,763.2,1027.0,15,515,240.2,16,0,11,11.9,76,MID
10,Gabriel,Martinelli Silva,6,5,118,2010,23,717.1,500.4,795.0,6,404,200.8,10,0,1,4.2,75,MID
12,Martin,Ødegaard,8,11,186,3098,23,1499.4,910.4,757.0,26,703,317.0,19,0,2,18.0,86,MID
17,Bukayo,Saka,16,12,226,2922,27,1319.8,1093.8,1342.0,29,776,375.7,16,0,4,49.2,88,MID
22,Leandro,Trossard,12,2,138,1633,10,384.7,563.6,746.0,11,398,169.5,12,0,2,3.6,66,MID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,Hwang,Hee-chan,12,3,125,2116,37,259.9,534.2,614.0,10,334,140.7,3,0,6,1.8,54,MID
832,João Victor,Gomes da Silva,2,2,75,2646,51,372.3,493.2,196.0,3,359,106.1,4,0,11,0.1,49,MID
838,Mario,Lemina,4,1,95,2969,55,333.6,621.6,470.0,13,490,142.7,4,1,10,0.1,49,MID
839,Pedro,Lomba Neto,2,11,86,1516,27,599.2,371.4,389.0,8,310,135.5,3,0,4,1.3,55,MID
842,Pablo,Sarabia,4,7,99,1737,27,795.3,469.2,418.0,8,358,168.4,6,0,5,0.5,45,MID

In [70]:
df_vezni.describe()

,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost
count,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000
mean,5.385417,5.145833,110.447917,2380.531250,40.854167,603.308333,577.335417,478.854167,8.906250,432.645833,165.950000,6.875000,0.145833,5.541667,4.547917,57.375000
std,4.491793,3.830567,43.181348,487.146232,14.354152,331.072525,220.555117,315.305499,7.536687,148.185160,73.499699,3.845024,0.383314,3.025911,9.603311,13.963298
min,0.000000,0.000000,40.000000,1516.000000,10.000000,101.800000,208.000000,44.000000,0.000000,186.000000,36.000000,0.000000,0.000000,0.000000,0.000000,44.000000
25%,2.000000,2.000000,77.000000,1980.500000,29.500000,364.075000,417.300000,257.000000,4.000000,326.500000,113.275000,5.000000,0.000000,3.000000,0.200000,49.000000
50%,4.000000,4.000000,100.000000,2353.000000,39.000000,538.350000,527.200000,419.000000,7.000000,397.500000,156.650000,7.000000,0.000000,6.000000,0.900000,53.000000
75%,7.000000,8.000000,132.250000,2861.250000,51.000000,798.975000,672.250000,620.000000,12.000000,491.250000,206.100000,9.000000,0.000000,8.000000,3.950000,61.250000
max,22.000000,16.000000,244.000000,3264.000000,83.000000,1674.900000,1240.200000,1531.000000,32.000000,866.000000,375.700000,19.000000,2.000000,13.000000,51.300000,134.000000

**NAPADACI**

In [47]:
df.loc[(df["minutes"]>1500) & (df["element_type"]=="FWD")].shape

(25, 19)

U nastavku je dat prikaz svih napadaca koji zadovoljavaju pocetne uslove,a za igraca koji ce biti prvi biti koriscen za predvidjanje odabran je **Oli Votkins**

In [71]:
df_napadaci=df.loc[(df["minutes"]>1500) & (df["element_type"]=="FWD")]

In [72]:
df_napadaci

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
64,Ollie,Watkins,19,18,228,3222,56,588.5,1024.6,1420.0,29,752,302.8,7,0,4,35.9,89,FWD
102,Antoine,Semenyo,8,4,107,2099,33,411.2,506.8,748.0,14,363,166.8,8,0,6,2.0,45,FWD
105,Dominic,Solanke,19,3,175,3325,61,479.6,902.0,1348.0,20,560,272.7,10,0,3,17.8,69,FWD
151,Yoane,Wissa,12,4,131,2488,40,384.0,592.8,769.0,15,457,173.2,11,0,7,5.1,57,FWD
179,João Pedro,Junqueira de Jesus,9,3,104,2037,38,578.8,622.4,932.0,12,406,213.4,5,0,2,6.1,52,FWD
197,Danny,Welbeck,5,4,79,1687,28,320.9,326.2,492.0,5,261,114.0,8,0,4,1.0,57,FWD
226,Lyle,Foster,5,3,75,1898,43,263.4,364.2,467.0,4,229,109.6,2,1,0,0.4,47,FWD
245,Zeki,Amdouni,5,1,85,1953,41,246.5,372.8,509.0,11,243,112.4,5,0,2,0.2,51,FWD
281,Nicolas,Jackson,14,6,142,2801,48,501.7,783.8,1098.0,12,479,237.7,9,0,10,17.9,70,FWD
324,Odsonne,Edouard,7,0,79,1545,24,256.7,359.6,663.0,9,246,128.0,6,0,4,1.3,53,FWD
331,Jean-Philippe,Mateta,16,7,165,2274,44,404.0,775.0,741.0,22,563,191.9,8,0,3,7.3,51,FWD
358,Dominic,Calvert-Lewin,7,3,101,2166,27,255.6,403.0,901.0,9,259,154.8,13,0,2,1.0,58,FWD
404,Rodrigo,Muniz Carvalho,9,2,97,1589,27,213.1,409.0,875.0,12,299,148.2,6,0,1,4.4,43,FWD
432,Darwin,Núñez Ribeiro,11,11,132,2033,25,439.1,660.8,1223.0,9,397,232.4,6,0,9,11.7,75,FWD
436,Cody,Gakpo,8,5,106,1633,20,348.2,521.4,708.0,12,409,157.1,5,0,1,3.1,71,FWD
484,Carlton,Morris,11,6,146,2859,72,305.6,620.2,908.0,18,451,183.4,3,0,4,4.3,47,FWD
486,Chiedozie,Ogbene,4,4,84,1987,47,378.3,412.6,486.0,7,387,127.7,2,0,1,0.1,48,FWD
521,Julián,Álvarez,11,11,158,2644,24,1005.2,737.0,992.0,17,662,273.3,12,0,2,15.4,64,FWD
532,Erling,Haaland,27,8,217,2553,25,367.2,1094.6,1581.0,29,792,303.3,11,0,1,73.6,143,FWD
581,Rasmus,Højlund,10,2,112,2156,35,345.8,480.6,648.0,14,362,147.0,6,0,2,5.6,71,FWD
611,Alexander,Isak,21,4,172,2253,41,362.5,877.4,1054.0,23,645,229.3,7,0,1,41.0,84,FWD
678,Chris,Wood,14,1,131,1801,34,281.1,598.2,795.0,22,456,167.4,2,0,0,1.7,47,FWD
698,Cameron,Archer,4,3,82,1829,50,309.3,266.0,353.0,9,241,92.8,2,0,2,3.4,42,FWD
787,Michail,Antonio,6,2,78,1692,34,132.2,308.6,395.0,8,228,82.7,5,0,6,1.9,57,FWD
847,Matheus,Santos Carneiro Da Cunha,12,7,135,2438,46,409.8,786.0,872.0,15,520,206.4,6,0,9,2.4,55,FWD

In [73]:
df_napadaci.describe()

,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000,25.000000,25.000000,25.000000,25.00,25.000000,25.00000,25.000000
mean,10.960000,4.880000,124.840000,2198.480000,38.520000,383.532000,592.224000,839.120000,14.28000,426.680000,181.132000,6.600000,0.04,3.440000,10.58400,61.840000
std,5.841518,3.919184,42.889082,490.849359,12.806639,168.578918,231.837834,321.842912,6.80392,165.229568,63.917712,3.175426,0.20,2.873442,16.86292,21.120054
min,4.000000,0.000000,75.000000,1545.000000,20.000000,132.200000,266.000000,353.000000,4.00000,228.000000,82.700000,2.000000,0.00,0.000000,0.10000,42.000000
25%,7.000000,3.000000,85.000000,1829.000000,27.000000,281.100000,403.000000,648.000000,9.00000,261.000000,128.000000,5.000000,0.00,1.000000,1.70000,48.000000
50%,10.000000,4.000000,112.000000,2099.000000,38.000000,362.500000,592.800000,795.000000,12.00000,406.000000,167.400000,6.000000,0.00,2.000000,4.30000,57.000000
75%,14.000000,6.000000,146.000000,2488.000000,46.000000,411.200000,775.000000,992.000000,18.00000,520.000000,229.300000,8.000000,0.00,4.000000,11.70000,70.000000
max,27.000000,18.000000,228.000000,3325.000000,72.000000,1005.200000,1094.600000,1581.000000,29.00000,792.000000,303.300000,13.000000,1.00,10.000000,73.60000,143.000000

Postoji ukupno **22** golmana,**87** odbrambenih,**96** veznih igraca i **25** napadaca koji zadovoljavaju uslove da budu igraci od znacaja za razmatranje u resavanju problema. U nastavku ce biti vizualno prikazan broj igraca po timovima i bice odabran po jedan igrac sa svake pozicije ciji podaci ce se sredjivati u narednim sveskama.